* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.p-content {
    padding: 0 50px;
}

.m-breadcrumb {
    margin: 16px 0;
}

.t-center {
    text-align: center;
}

.m-auto {
    margin: 0 auto;
}

.content {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.mt-30 {
    margin-top: 30px;
}

.t-justify {
    text-align: justify;
}

.py-20 {
    padding: 20px 0;
}